[2019-10-23 08:57] sanxiyn opened #2 "Add rust-toolchain file"
You can use the [toolchain file](https://github.com/rust-lang/rustup.rs#the-toolchain-file) to specify the nightly version.

See [TiKV](https://github.com/tikv/tikv) for an example, another project using nightly Rust.

[2019-10-23 19:10] #2 closed

[2019-10-23 19:11] rajasekarv commented on #2
thanks @sanxiyn  for suggesting this

[2019-10-26 16:41] ariesdevil opened #11 "How to run the codes in examples?"
I create a `test_native_spark` project and copy codes in `make_rdd.rs` to the project's `main.rs`
Then run this project using `cargo +nightly-2019-09-11 run` got some errors:
[code]
How can I solve this?

[2019-10-26 17:31] rajasekarv commented on #11
First, Install [Cap'n Proto](https://capnproto.org/install.html)
Then, run these following steps for local mode:(Tested only on Linux)
1.` git clone https://github.com/rajasekarv/native_spark/`
2. `cd native_spark`
3. copy hosts.conf file in config_files directory to your home directory. `cp config_files/hosts.conf ~/hosts.conf`
4. `export SPARK_LOCAL_IP=0.0.0.0`
5. `cargo run --example make_rdd`

[2019-10-27 13:01] iduartgomez opened #13 "Run clippy and fix error lints"
I downloaded the source and trying to build with clippy there are quite a few lint warning but specially some lint errors like: clone double reference, drop on copy types, etc.

If there is no special reason why clippy is not being run I would advice to run it and clean up the code (specially the error lints). I am up to do a PR cleaning it up if you wish.

[2019-10-27 13:19] ariesdevil commented on #11
It works.

[2019-10-27 13:19] #11 closed

[2019-10-27 23:17] #13 closed

[2019-10-31 18:50] Whazor opened #19 "Use kubernetes for scheduling"
Directly using kubernetes scheduling both nicely integrates into cloud providers but also saves you code to maintain.

[2019-11-01 12:29] XVilka opened #20 "Extract HDFS support in a separate crate"
I believe, it will be useful for other applications too.

[2019-11-01 12:36] XVilka opened #21 "Support integration with Elastic"
See for example how Elastic [can be integrated with the original Apache Spark](https://www.elastic.co/guide/en/elasticsearch/hadoop/current/spark.html). Apart from Elastic, integration with Logstash might be useful too, see e.g. [example of setting up Kafka, Spark and Logstash](http://blogs.quovantis.com/real-time-streaming-with-kafka-logstash-and-spark/).

Since there are Rust alternatives to bot

[2019-11-01 15:21] rajasekarv commented on #20
That is the plan here. HDFS support is not yet implemented. Once it is done, we will release it as seperate crate.

[2019-11-01 15:24] rajasekarv commented on #19
We need to have good support for multiple schedulers like Yarn, Kubernetes too. Presently only basic standalone mode is finished. I am adding this as a feature/enhancement.

[2019-11-02 22:24] NoahLidell opened #24 "Documentation covering install and running an example in both local and distributed mode"
Having command by command documentation, either within or linked to in the readme, on how to setup a cluster and run an example would make this project more approachable.

Basically what's in the comments for #11 but extended to cover distributed mode.

[2019-11-03 12:10] iduartgomez opened #25 "No graceful shutdown on panic inside executors."
Right now when there is a panic inside an executor the process is left open (at least in local mode) indefinitely and doe snot shutdown, the only way to terminate it is by sending SIGKILL to the master.

OS: Linux
Architecture: x86_64
Replication: Just write "assert!(false)" inside a map function to be executed (MapRDD).

[2019-11-03 22:48] rajasekarv opened #26 "Handling resources destruction when program exits"
Ctrl-C handling, proper destruction of resources in case of panic and remove explicit drop executor logic. Instead of cloning Context like currently, create a single context and wrap it inside ref count and move resource destruction logic like deleting all temp files and closing all spinned processes inside Drop trait.

[2019-11-04 08:13] iduartgomez commented on #26
One thing that would help probably is implementing `std::ops::Drop` for Context and calling any clean up procedures there when Context goes out of scope.

[2019-11-04 14:50] rajasekarv commented on #26
That's the idea. But Drop will get triggered every time Context goes out of scope and it happens a lot now. So when we create a context, we should return it by wrapping it in Arc and use that throughout so that it will be dropped only once at the end of the program.

[2019-11-04 22:10] jghoman opened #27 "Spark is a trademark of the Apache Software Foundation"
see: https://spark.apache.org/trademarks.html

[2019-11-08 09:34] walter211 opened #31 "how about flink"

[2019-11-08 10:20] iduartgomez commented on #27
We shouldn't let this slide too long to avoid any sort of animosity towards the project. The action items would be:
* Choose a new name for the project (tough one).
* Update any mentions in the code comments or in documentation/readme to referee to Spark properly (eg. Apache Spark(tm)).
* In the future guarantee/enforce any mentions are done properly.

Is understandable we still want to maintain s

[2019-11-08 10:29] steven-joruk commented on #27
Good plan of action. From what I've read referring to trademarks by their name without the trademark logo ("tm") is sufficient. Apache have guidance for [how to refer to their trademarks](https://www.apache.org/foundation/marks/).

[2019-11-08 13:44] gzsombor commented on #26
Probably removing the global variables around the Env could be an improvement as well, it makes unclear, if you create two context what could happen, and it looks strange to specify an environment variable,just to run the integration tests

[2019-11-09 07:28] rajasekarv commented on #26
@gzsombor  Spark does not allow multiple creations of Spark context by default AFAIK. Even if you configure it to allow multiple contexts, you can't have them both active at the same time. The only way to use context in multiple threads is by sharing it through Arc, which is what the default behavior here now. Creating Spark Context now gives you Arc<Context> now. So you can just clone it and use

[2019-11-09 07:29] rajasekarv commented on #31
@walter211  I didn't get what this is about? Can you please  eloborate?

[2019-11-10 03:27] Yanwenjiepy commented on #31
Apache Flink is a framework and distributed processing engine for stateful computations over unbounded and bounded data streams. Flink has been designed to run in all common cluster environments, perform computations at in-memory speed and at any scale.

Flink's  url: https://flink.apache.org/

In my opinion, flink is a copy and customized upgrade to spark.

[2019-11-10 03:37] Yanwenjiepy commented on #27
Yes, these issues should be considered early

[2019-11-10 03:47] rajasekarv commented on #31
I wouldn't say Flink is a copy of Spark. It has a very different architecture when compared to Spark. Typical iterative ML algorithms are much nicer to implement in Flink than in Spark. Regardless of these, I still didn't understand what this issue is about?

[2019-11-10 05:49] #24 closed

[2019-11-10 05:51] rajasekarv commented on #31
If there is nothing more to add, I am closing this issue. Feel free to reopen it anytime with more description.

[2019-11-10 05:51] #31 closed

[2019-11-10 11:45] LifeIsStrange opened #33 "Preliminary benchmarcks?"
Everything is in the title, I understand that the project is young and it needs time to get faster than spark.
I'm just asking the current state, out of curiosity.

[2019-11-10 12:08] iduartgomez commented on #33
We need to get going first easy cluster deployment and submit before we can automatize and setup some benchmarks, however preliminary results are very promising: https://medium.com/@rajasekar3eg/fastspark-a-new-fast-native-implementation-of-spark-from-scratch-368373a29a5c

I believe where in the long run we can gain the most in huge memory savings which is a big deal for Spark-like applications an

[2019-11-10 12:24] rajasekarv commented on #33
As @iduartgomez  said, there is no additional cost associated with RDDs here unlike in Spark. Well, there are still some unnecessary allocations to keep everything in safe Rust as much as possible, but technically you can already optimize RDDs to achieve a pretty good performance.

Task serialization is bit costly here compared to Spark for now, and shuffle tasks when spilled to disk can be a lot

[2019-11-10 12:26] rajasekarv commented on #33
Please let us know if you feel that the Rust version is unreasonably slower. It would be useful for us and we could probably look into it.

[2019-11-10 12:32] iduartgomez commented on #33
One area we could explore in the future is for the kind of map-like tasks where shuffling is not required and computation can be kept local just run the computations in each node local executors for their partition in a rayon-like threadpool and avoid serialization, this way we could safely use references and avoid as much allocation as possible and serialization altogether.

In general in any sor

[2019-11-11 07:16] gzsombor commented on #26
Yes, supporting multiple context maybe not the most important thing, but I'm referring to the fact, that the Env struct, and the lazy_static variables are not the cleanest solutions from an architectural standpoint. Maybe having an explicit link from the Context to the Env (through an Arc), which can be passed in at construction time, if needed, or created automatically if not. So the Env could be

[2019-11-11 08:28] rajasekarv commented on #26
I have thought about it a bit before finalizing it. It is difficult to achieve it in any other way as far as I have seen. Finally I just accepted the Apache Spark way. The reason is that the global static items are basically storage units(cache, map outputs) and needs to be accessed by tasks which are completely independent from the viewpoint of executor(driver only keeps track of the dependencies

[2019-11-12 08:37] xmehaut opened #35 "Koalas-like implementation"
Hi
I read in your paper (https://medium.com/@rajasekar3eg/fastspark-a-new-fast-native-implementation-of-spark-from-scratch-368373a29a5c) that you wanted to be inspired by panda for implementing dataframes (and api). You could consider basing your implementation on Koalas (https://github.com/databricks/koalas)
regards

[2019-11-12 11:55] Nimpruda opened #36 "Why Capnp ?"
Hi,
I was wondering why do you use capnp instead of rust library that would be easier to install ?
I feel like the benefits dont overcome the installation overhead.

[2019-11-13 00:25] rajasekarv commented on #36
Though currently not used much, there will be a lot of coordination happening between driver and executor and for that having a good, fast interchange format and RPC library is necessary. At the time when I started writing this library, grpc and protobuf were still not officially supported in Rust. However there are some excellent implementations. I am waiting for one of them to be universally ado

[2019-11-13 06:06] rajasekarv commented on #35
I actually meant that point for Rust Dataframe APIs. Yeah, by extension we will try to do the same for python version too. Koalas is awesome, but as far as I know, it supports only spark datatypes just like PySpark/Spark Dataframe APIs. We will also develop along its lines and if possible try to include generic types like pandas. In Rust, it is relatively easy. For Python, it is very early to guar

[2019-11-13 06:31] xmehaut commented on #35
Thanks for the answer.
Does that mean that dataframes will be mutable too?
If so, could something like deltalake features be included in fastspark?
Last question, will there be an overall architecture schema explaining the fastspark  processing?
Ragards

Envoyé de mon iPhone

[2019-11-13 07:27] rajasekarv commented on #35
Mutating the inner values and keeping it consistent across the whole system is not possible. However, I am hoping to have something like the following possible.
[code]

[2019-11-13 07:35] rajasekarv commented on #35
The project is still very early to comment on other features. With enough support from the community, we can slowly add them.

RDD and DAG scheduler is more or less the same as Spark which is already studied in detail by many.  When I open-source the data frames, I will explain them in detail as they are slightly different from Sparks.

[2019-11-15 00:13] rajasekarv commented on #35
Feel free to open this issue again when we start developing python APIs

[2019-11-15 00:13] #35 closed

[2019-11-18 17:39] iduartgomez opened #41 "Deadlock while partitioning"
As talked in Gitter, while developing `union` I found out a problem where the application enters a deadlock while resolving the partitioning or computation of a dag. The workign branch is: https://github.com/iduartgomez/native_spark/tree/dev

The error is reproducible executing:
[code]

Inside some executor there is a thread panic over here:
[code]

[2019-11-18 17:43] rajasekarv commented on #41
Will check it out asap @iduartgomez

[2019-11-19 20:02] iduartgomez commented on #41
There is an other problem I got into while implementing this, but is unrelated (I think). with this test:

[code]

it fails at `local_scheduler::get_preferred_locs` because an out of bound panic. Inside `submit_missing_tasks` (using local scheduler) it computes 4 total output parts, but the iterated computed final_rdd only has two (which is probably wrong and the final one should probably be 4 ind

[2019-11-23 04:49] errord opened #42 "build failed!!"
errorddeMacBook-Pro:native_spark d$ cargo build
   Compiling native_spark v0.1.0 (/Users/d/Work/opensource/native_spark)
   Compiling bincode v1.2.0
   Compiling serde_closure v0.2.7
   Compiling rustc_version v0.2.3
error: failed to run custom build command for `native_spark v0.1.0 (/Users/d/Work/opensource/native_spark)`

Caused by:
  process didn't exit successfully: `/Users/d/Work/opensource/n

[2019-11-23 04:58] rajasekarv commented on #42
@errord you need to install [Cap'n Proto](https://capnproto.org/install.html) . It should solve the issue.

[2019-11-23 05:06] errord commented on #42
Oh, sorry. I am negligent, and the reason is included in the error message.

[2019-11-23 05:06] #42 closed

[2019-11-27 18:20] iduartgomez commented on #41
Writing it here for the record too, after the changes to make Rdd object safe I updated the branch with thsi but still encountering this couple of problems.

[2019-12-09 03:04] rajasekarv commented on #41
@iduartgomez  Remove that number_of_splits definition in union_rdd. It is already a provided method in RddBase trait and there is no need to implement it again.

[2019-12-10 05:27] uk0 opened #44 "Join contribute ?"
Can I join the collaboration, I am eager to join, I think I can contribute

[2019-12-13 05:54] iduartgomez commented on #44
Hello, @rajasekarv is a bit busy lately but hopefully will become more free soon.
You can join gitter if you wish maybe we can find out where you can help while we elaborate a more formalized plan or add more issues (which you are free to open btw).
Do tou have any particular interest in an area you would like to help or are knowledgeable about or nothing specially?

Cheers.

[2019-12-14 07:09] rajasekarv commented on #44
Hi @uk0, I have been a bit busy lately. Now onwards, I will be a bit active. Please feel free to join us on Gitter and discuss where you can contribute. Some suggestion: You can generate good benchmarking suite to keep track of regressions and progress after some major commits/releases and to compare against apache spark to see when this framework is slow and how we can improve it.

[2019-12-14 07:12] rajasekarv commented on #41
Apart from gitter, just mentioning it for completeness. The issue occurs due to the incomplete implementation of dependencies in unionrdd. It leads to an improper dependency graph and ultimately leads to panic(as shuffle tasks are never performed to update server_uris). Please open a separate branch where I can commit the patch or if you want to resolve it yourself, then also fine. Let me know you

[2019-12-14 08:48] iduartgomez commented on #41
@rajasekarv pushed the dev branch where the union changes reside on my fork to the main repo

[2019-12-16 02:45] uk0 commented on #44
thx  very nice

[2019-12-17 14:46] uk0 commented on #44
How to develop and test macos is not friendly, do you have any solution?

[2020-01-06 22:25] Hoeze opened #49 "Use this as backend for java Spark?"
As Spark uses RDD under the hood, would it be possible and make sense to use native_spark as the backend for the official java Spark version?

[2020-01-07 18:54] iduartgomez commented on #49
This is unlikely, the in-memory data structure implementation is wildly different and it would require adaptation at both sides but more than anything work with the JVM and specially the JNI to translate the in-memory data layout from Rust to something interpretable by the JVM. It would be a lot of work to make this something useful. Take in mind we are already making long stretches so we can safe

[2020-01-07 20:47] Hoeze commented on #49
Thanks for your comprehensive answer.
The reason why I'm asking is the question whether it would be possible to keep all the high-level Spark libraries like deltalake or Spark SQL but also benefit from the low-level advantages of native_spark.

[2020-01-07 21:50] iduartgomez commented on #49
You are welcome! As said, maybe something could be worked out in the long if you are using the DataFrame API, and by extension Spark SQL. We probably would have to wrap Scala with a helper library but it may be possible.

On the other side, if you are using PySpark the chances you will be able to keep stuff as is and just start using this one as a backend by simply changing the import statement ar

[2020-01-26 22:16] iduartgomez commented on #41
I think we can close this for now.

[2020-01-26 22:16] #41 closed

[2020-01-26 22:21] iduartgomez commented on #44
Can't help with macOS development in Rust.

As for a more general guideline, we should start opening and labeling issues and adding a contribution guideline IMO, we already have some work ahead planned and more to come but can improve on the details and guidance for people who would like to get on board. I can help with this too if you want me to help. We can talk a bit more about the details abou

[2020-01-26 22:21] iduartgomez commented on #49
Closing this for now then.

[2020-01-26 22:21] #49 closed

[2020-01-26 22:26] #36 closed

[2020-01-27 17:29] iduartgomez opened #51 "Add connector for AWS S3"
Implement a connector to read/write from/to AWS S3. For inspiration maybe look at a the HDFS FS interface. If possible try to come with a common interface we could reuse for other cloud providers (and potentially any "fs-like" source).

[2020-01-27 17:32] iduartgomez opened #52 "Add a connector for Azure Data Lake Store"
Similarly to #51, do likewise for Azure storage solution: implemente a read/write connector. If possible try to follow a common interface/pattern.

[2020-01-27 18:07] iduartgomez opened #53 "Improve error handling and trazability on executor and user code crashes"
While this has improved we still have a whole lot of unwrapping around; since we still are in a very early phase is not necessary to go crazy on this since many things will change several times (probably). But, that said, and while definitively in some places panics and abortion should happen if anything goes wrong, for the sake of traceability better error handling is good to have even if the who

[2020-01-27 18:23] iduartgomez opened #54 "Improve application configuration execution/deployment"
Right now the way we are doing configuration is a bit lacklustre in the following way: we are using `clap` to parse many of the configuration parameters, passing them by command line argument, this creates a problem where in an user created application it will collide with their own command line arguments.

Similarly, this already collides with `cargo` own optional parameters, for example somethin

[2020-01-27 18:35] iduartgomez commented on #54
Oh, on top, we probably want to replace most `info!` log traces with `debug` and add this a configuration parameter too.

Additionally all the internal tracing info can be placed under a feature flag probably, but that could be an other issue/PR.

[2020-01-28 19:08] iduartgomez opened #55 "Tracking issue: Implementation of lacking core RDD ops"
For core RDD ops we understand those which spawn in the original Apache Spark from SparkContext and/or the base RDD class and friends:
SC:
- [ ] range
- [ ] randomSplit
- [ ] sortBy
- [ ] intersection
- [ ] pipe
- [ ] zip
- [ ] substract
- [ ] treeAggregate
- [ ] countApprox
- [ ] countByValue
- [ ] countByValueApprox

After those are done the following source files can be scanned for whatever is

[2020-01-28 19:09] #44 closed

[2020-01-28 19:11] iduartgomez commented on #44
@uk0 if you are still interested you can check the issue tracker for `good first issues`and `help wanted`, I am sorry can't helpo you out with macOS problems, you may find more luck in the official Rust forums (users.rust-lang.org) or Rust discord etc.

Hope you can work it out, any help is welcome here.

[2020-01-28 19:18] iduartgomez opened #56 "Add API cargo doc documentation"
Even if we are not publishing yet to crates.io would be nice to have the cargo doc documentation generated and uploaded to a branch here somewhere so we can reference it in the documentation/readme.

[2020-01-30 07:43] rajasekarv opened #57 "implement zip"
ZippedRdd

related to tracking issue #55

[2020-01-30 07:44] rajasekarv opened #58 "implement sorting fucntions and ordered_rdd"
related to tracking issue #55

[2020-02-02 09:43] iduartgomez commented on #54
The log level was already parametrized, I had forgotten about it: NS_LOG_LEVEL. Gonna make a commit swapping info for debug, this should remove most noise when running tests by default.

[2020-02-11 17:18] #57 closed

[2020-02-18 17:17] iduartgomez commented on #55
Intersection completed in #66

[2020-02-26 21:28] iduartgomez opened #71 "Tracking issue: async integration"
After some talk we have decided to take a careful gradual approach to integrate async into the library.

Adding asynchronous computation is a large departure from the reference Spark implementation, and may change how we do certain things or what is possible (like certain optimizations that rely on stack allocation) in ways that are not yet clear.

Therefore, is preferred to take a gradual approac

[2020-02-26 21:33] iduartgomez commented on #71
New `async` branch pushed to the repository from my fork.

[2020-03-01 16:31] iduartgomez commented on #71
Changes done so far in:
*  `dbd87cb`
*  `1b61aeb`

Must improve shuffle_rdd / co_grouped_rdd shuffle fetch calls to avoid using a concurrent hashmap for the performance hit.

[2020-03-02 06:54] burdges commented on #27
I think "fleck" and "flake" nicely parallels the noun usage of spark since rusted iron flakes off producing flecks of rust.  Also, rust starts where some protective layer flakes or flecks off, which parallels the verb usage.  I think both imply "numerous" or "clusters" as well as or better than spark.  "Fleck: Rust framework inspired by Apache Spark(tm)"

[2020-03-03 03:09] rajasekarv commented on #27
Thanks for the suggestion @burdges . **Fleck, Bolt, Streak, Light, Photon** are the options for now. If we can reach a consensus on one of these, we can go ahead and rename the project.

[2020-03-03 03:27] XVilka commented on #27
**Photon** is not an option - it's a famous [GUI subsystem from QNX](http://www.qnx.com/developers/docs/6.5.0/index.jsp?topic=%2Fcom.qnx.doc.neutrino_sys_arch%2Fphoton.html) and a registered trademark:

[2020-03-03 03:32] rajasekarv commented on #27
But this is not a competing/similar service to Photon. So does it still count as a trademark infringement?

[2020-03-03 03:39] XVilka commented on #27
I don't know, just pointing out there is a well-known trademark with the same name.

[2020-03-07 17:00] iduartgomez commented on #71
With the last pushes (`997bf62`)  now both the executor and the schedulers (in both modes) are async! Probably a bit of fine tuning about where tasks are spawned will be appropiate, right now each stream in the executor is moved (spawned) to its own futures and executed on the Tokio non-blocking TP; ideally we probably will want to send some of the work inside to the blocking TP
(`spawn_blocking`)

[2020-03-07 17:05] iduartgomez commented on #27
Fleck is very creative, but I also like Streak; those two are my favorite so far :)

[2020-03-07 17:27] iduartgomez commented on #71
Next steeps are

1. Fix some of the grievances with configuration (#54): this is important for fast iteration and testing of distributed mode (with the docker setup), right now it gets in the way when running test, for example.
2.  Focus on #26 and related issues, this is important too as the program is not shutting down properly on finalization on distribution mode (so will have to add Drop to th

[2020-03-10 06:28] iduartgomez commented on #54
Re. #73 I better comment here.

@rajasekarv the current solution is not optimal either as passing by argument collides with user program arguments and is hacky, we must find an other way to pass the arguments to the workers.

Maybe we can pass the conf to the workers by creating a file in the temp work dir or something alike. what do you think about this option?

Re. " plus ENV variables should no

[2020-03-10 06:36] rajasekarv commented on #54
I think that is Ok. We are using named arguments so it should be fine with regards to collision with user arguments. Basically we are doing what spark-submit does directly in context. Even if we separate it out, the mechanism would remain the same.

[2020-03-10 17:32] iduartgomez commented on #54
With the collision I was referring more to the argument parsers etc. but maybe this is not an issue if we do it manually instead of relying on something like clap which is a self-contained solution which is very intrusive if you have 'alien' (unexpected) arguments etc. I will explore what is easier/best option a bit and make a proper PR this time.

[2020-03-25 18:53] rajasekarv opened #76 "rdd ops"

[2020-03-25 18:54] #76 closed

[2020-03-25 19:19] rajasekarv opened #77 "implement tree aggregate function"

[2020-03-25 19:19] rajasekarv opened #78 "implement pipe function"

[2020-03-29 14:57] Hoeze opened #79 "Utilization of Arrow/Rust Datafusion"
Hi, I just read about Datafusion:
https://github.com/apache/arrow/tree/master/rust/datafusion

Would the SQL query planning, etc. be helpful for native_spark?

[2020-04-01 18:27] rajasekarv commented on #79
Of course. SQL is the next big step and I am deciding on the internal data structure of Dataframes. It is most likely going to be an array of arrays. Public API should be the same as Spark or at least should be as close as possible. I have decided to not go with Arrow for base types. However, it will act as intermediate when interacting with other languages like Python, Java, etc.,

[2020-04-01 19:30] iduartgomez commented on #25
Closed #75

[2020-04-01 19:30] #25 closed

[2020-04-01 19:32] iduartgomez commented on #54
Improved with #75

[2020-04-01 19:32] #54 closed

[2020-04-01 19:33] iduartgomez commented on #26
This is mostly improved now, only left to do is handling of `Ctrl-C` which I probably will check out soon.

[2020-04-11 19:16] iduartgomez commented on #55
range done in #82

[2020-04-11 19:32] iduartgomez opened #84 "Fix non working examples"
There are a couple of examples that won't work because the necessary data is not available:
* file_read
* parquet_column_read

We should either provide a small sample with the tests or change the tests with some fake data so those examples can be executed.

[2020-04-12 02:56] rajasekarv commented on #84
I will add the sample data today for both txt and parquet formats

[2020-04-16 18:11] iduartgomez commented on #71
Very much all that can be async right now is except the `compute` parts of the Rdd's! All the network stack is asynchonous and well optimized for spawning/parallelization (although profiling should be done in the future to see if there is a more optimal strategy to spawn tasks or avoid spawning altogether in certain parts of the program).

There is a caveat which makes us have to block on certain

[2020-04-18 13:53] #26 closed

[2020-04-18 14:46] #79 closed

[2020-04-18 14:46] rajasekarv opened #86 "implement keyby"

[2020-04-18 14:47] rajasekarv opened #87 "implement filter for rdd"

[2020-04-18 15:08] rajasekarv opened #88 "implement randomsplit for rdd"

[2020-04-18 17:54] rajasekarv opened #89 "implement groupby for rdd"

[2020-04-18 17:56] rajasekarv opened #90 "implement zip partitions for rdd"

[2020-04-18 17:57] rajasekarv opened #91 "implement subtract for rdd"

[2020-04-18 17:58] rajasekarv opened #92 "implement tree reduce for rdd"

[2020-04-18 17:58] rajasekarv opened #93 "implement count approx for rdd"

[2020-04-18 18:01] rajasekarv opened #94 "implement top for rdd"

[2020-04-18 18:01] rajasekarv opened #95 "implement take ordered for rdd"

[2020-04-18 18:02] rajasekarv opened #96 "implement max and min for rdd"

[2020-04-18 18:02] rajasekarv opened #97 "implement is_empty for rdd"

[2020-04-19 21:52] #89 closed

[2020-04-20 14:08] iduartgomez opened #99 "[Core] Roadmap to 0.1.0"
This is a tracking issue for the roadmap to 01.0 potential release of the `core` crate/package.

[2020-04-21 16:16] ugoa commented on #97
@rajasekarv Could you please assign this to me? Cause I'd like give it a try, Thanks.

[2020-04-21 20:17] #97 closed

[2020-04-22 20:10] #96 closed

[2020-04-23 16:42] #87 closed

[2020-04-24 17:09] iduartgomez commented on #86
Closed by #105

[2020-04-24 17:09] #86 closed

[2020-04-26 04:20] rajasekarv opened #107 "remove capnp dependency using code based RPC"

[2020-04-26 04:28] rajasekarv opened #108 "tracking issue for deployment related issues"

[2020-04-26 04:30] rajasekarv opened #109 "remove the requirement of hosts.conf in executors by sending master details during executor deployment"

[2020-04-26 15:25] rajasekarv opened #110 "remove serialization of duplicate data in dependencies along with task"

[2020-04-28 01:33] #88 closed

[2020-04-29 10:09] ugoa commented on #94
Could this be assigned to me pls? I am working on it now.

[2020-04-29 10:09] ugoa commented on #95
Could this be assigned to me too pls? Thanks.

[2020-04-29 10:19] rajasekarv commented on #94
I assigned you @ugoa

[2020-04-29 16:16] iduartgomez opened #111 "Refactor scheduler to remove duplicity/unused code"
We got right now:
- `local_scheduler.rs`
- `distributed_scheduler.rs`
- `base_scheduler.rs`
- `dag_scheduler.rs`

local and distributed have some duplicate code still (basically the event loop and run job) which could be factored into a common trait (or pull it inside `impl_common_scheduler_funcs` macro too).

Then we have currently the base_scheduler (or `NativeScheduler` trait) which should be m

[2020-04-29 19:35] rajasekarv commented on #111
I am refactoring the networking layer and scheduler heavily. It is coming very nicely. Removed the dependency of capnp. The deployment process is extremely easy now. I feel that this along with block manager is the most important part for a strong stable foundation. It should be finished in a week or two(atleast all essentials - spark has too many configurable things).

Compile times are surprisin

[2020-04-29 20:58] iduartgomez commented on #111
How long is "some time"? There is some waiting forced in order to allow for the executors to end up whatever they were doing in other threads, could be removed but is not very long.

Cargo check wasn't too bad for me after the first incremental compilation but faster compilation is always welcome :D Good to hear about that, and removing cpnp will make life easier for certain things (harder for oth

[2020-04-29 21:08] iduartgomez commented on #111
Re. the deployment process, do you think creating a binary app for running an independent master which handles all the deployment/submission of the different jobs, resource allocation etc. (like a standalone Spark cluster does) would be a good addition and something we should tackle now? If so I would like to get onto that if that's not what you are working on.

Remotely deploying each job by call

[2020-05-01 11:58] #93 closed

[2020-05-01 12:02] rajasekarv commented on #111
For standalone this is fine. But people can always extend it to Yarn, Mesos, Kubernetes schedulers depending on their environment. In the future, maybe we can provide the alternatives ourselves. I would say Kubernetes scheduler might be the most sought after one nowadays

[2020-05-01 12:06] rajasekarv commented on #111
We do need to think about developing UI for monitoring jobs and tasks which is very essential in production. Not a priority now. But something which we eventually need to.

[2020-05-01 12:07] rajasekarv opened #112 "Tracker Issue: UI for monitoring jobs"

[2020-05-01 12:18] iduartgomez commented on #27
@rajasekarv maybe is a good time to move forward with this before we start adding a lot of configuration, documentation stuff etc. we would have to rename later? `Vega` is my favorite so far, or `nano` would also do.

[2020-05-01 12:29] rajasekarv commented on #27
Going with Vega then. Will change it today

[2020-05-01 12:42] iduartgomez opened #113 "Improve the standalone cluster mode job deployment story"
The idea here is to improve the way we currently handle the deployment of jobs.

Initially the scope for this issue should be very modest: A binary application based on a server/client model which would be run like a daemon in the master and different workers.

This master would be able to assign a driver amongst the available workers for job execution, deploy the compiled executable which contain

[2020-05-02 04:30] ugoa commented on #27
Awesome. This finally happened.
Just out of curious, after the renaming would the old repo URL on the internet pointing to `native_spark` still works? Will they be redirected to the new `Vega` repo automatically by Github?

[2020-05-02 05:03] rajasekarv commented on #27
Old repo URL will get redirected to this repo.

[2020-05-03 04:07] #27 closed

[2020-05-03 07:21] #94 closed

[2020-05-03 07:21] #95 closed

[2020-05-05 17:16] ugoa commented on #90
I'd like to take this one if no one else is working on it. Thanks!

[2020-05-09 13:51] rajasekarv opened #118 "fault tolerance test suite"

[2020-05-15 15:30] constantOut opened #119 "Maybe use DataFusion and Apache Arrow as building blocks ?"
There is a competing project called https://github.com/ballista-compute/ballista
It is using DataFusion, I don't quite get it why Ballista examples include weird syntax for querying.
I understand that distributed SQL execution is more complex then just combining results from individual executors, but I think having single-node SQL engine would be of a great help.
What do you think ?

[2020-05-19 05:29] GavrielPlotke commented on #55
@iduartgomez - Isn't `substract` a misspelling of `subtract` ?

[2020-05-19 05:32] rajasekarv commented on #55
fixed @GavrielPlotke

[2020-05-30 16:06] rajasekarv commented on #119
I have plans of integrating with Python and possibly other languages(JVM and Go) using Arrow. However, regarding datafusion, the underlying architecture of this framework closely follows that of Spark and the job execution is quite a bit different than that of Datafusion. So, unfortunately we can’t use it. Andy Grove built ballista, a distributed framework around datafusion which is an interesting

[2020-07-02 12:49] mungu42 commented on #55
what would the subtract operation entail, can someone give an example?

[2020-07-02 14:08] GavrielPlotke commented on #55
Doc: https://spark.apache.org/docs/1.0.2/api/java/org/apache/spark/rdd/RDD.html#subtract(org.apache.spark.rdd.RDD)
Example:
- I have a list of customers that I want to advertise to
- I have a list of angry customers who have said "DON'T TALK TO ME!"
email_list_rdd = customers_rdd.subtract(angry_rdd)

[2020-08-03 10:22] AmbitionXiang commented on #84
Hi, I didn't find the data you added. I wonder where it is. Thank you.

[2020-10-28 15:39] uk0 opened #122 "could not compile `packed_simd`"
error[E0432]: unresolved import crate::arch::x86_64::_mm_movemask_pi8
--> /root/.cargo/registry/src/github.com-1ecc6299db9ec823/packed_simd-0.3.3/src/codegen/reductions/mask/x86/sse.rs:47:21

https://asciinema.org/a/0EOIzjxOI9UcyQLohN9Lwgvb5

[2020-11-02 02:34] clumsy456 commented on #122
I've met the same problem as you.

[2020-11-12 14:33] zgjhust commented on #122
the same problem +1

[2020-11-17 15:41] rajasekarv commented on #122
may I know the exact rust nightly version you are using and the OS version and if possible, system information?

[2020-11-18 03:52] liergou99 opened #123 "'_mm_movemask_epi8' error"
error[E0432]: unresolved import `crate::arch::x86_64::_mm_movemask_pi8`
  --> /root/.cargo/registry/src/mirrors.tuna.tsinghua.edu.cn-df7c3c540f42cdbd/packed_simd-0.3.3/src/codegen/reductions/mask/x86/sse.rs:47:21
   |
47 |                 use crate::arch::x86_64::_mm_movemask_pi8;
   |                     ^^^^^^^^^^^^^^^^^^^^^----------------
   |                     |                    |
   |

[2020-11-18 08:43] zgjhust commented on #122
OS version & rust toolchain version as follows:
`
zhougj@DESKTOP-0077C7K:~/Develop/rust-test/vega$ cat /etc/issue
Ubuntu 18.04.4 LTS \n \l

zhougj@DESKTOP-0077C7K:~/Develop/rust-test/vega$ rustup show
Default host: x86_64-unknown-linux-gnu
rustup home:  /home/zhougj/.rustup

installed toolchains
--------------------

stable-x86_64-unknown-linux-gnu
nightly-x86_64-unknown-linux-gnu (default)

activ

[2020-11-18 19:21] rajasekarv commented on #122
can you pull the latest update and try compiling it?

[2020-11-19 03:29] #122 closed

[2020-11-19 04:13] rajasekarv commented on #123
same issue as #122. can you please pull the latest update and try?

[2020-11-20 05:21] zgjhust commented on #123
problem resolved after add the toolchain file

[2020-11-23 10:01] liergou99 commented on #123
There are new problems in the distributed mode of Vega：

thread 'tokio-runtime-worker' panicked at 'executor @15000 not initialized', /rustc/74e80468347471779be6060d8d7d6d04e98e467f/src/libstd/macros.rs:16:9

[2020-11-24 09:20] liergou99 commented on #123
thread 'tokio-runtime-worker' panicked at 'executor @15000 not initialized', /rustc/74e80468347471779be6060d8d7d6d04e98e467f/src/libstd/macros.rs:16:9
stack backtrace:
   0:     0x5557d1434035 - backtrace::backtrace::libunwind::trace::h508d2c55eb856ef2
                               at /cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.46/src/backtrace/libunwind.rs:86
   1:     0x5557d1

[2020-11-24 09:48] #123 closed

[2020-11-24 09:49] liergou99 opened #124 "error in the distributed mode of Vega ： executor not initialized"
thread 'tokio-runtime-worker' panicked at 'executor @15000 not initialized', /rustc/74e80468347471779be6060d8d7d6d04e98e467f/src/libstd/macros.rs:16:9
stack backtrace:
   0:     0x5577bacef035 - backtrace::backtrace::libunwind::trace::h508d2c55eb856ef2
                               at /cargo/registry/src/github.com-1ecc6299db9ec823/backtrace-0.3.46/src/backtrace/libunwind.rs:86
   1:     0x5577ba

[2020-12-07 16:58] AmbitionXiang opened #125 "Support cache() & persist() of RDD"
I see there are cache.rs and cache_tracker.rs. But some functions, e.g., get_or_compute, are not used in the framework. Since persistence is also a core functionality provided by Spark, it's necessary to implement it.

[2020-12-17 07:43] Bran-Sun opened #127 "questions about wordcount example"
I write a WordCount example with your framework as follows. It only processes a 17-lines text but takes 240s to finish on my computer.  Why does it run so slow?

[code]

[2021-02-02 16:44] AmbitionXiang commented on #110
Hi, when I ran a sample called 'Transitive closure on a graph', the typical sample in Spark [https://github.com/apache/spark/blob/master/examples/src/main/scala/org/apache/spark/examples/SparkTC.scala](url). I found that the total number of bytes grew too fast to run to completion.  Only two or three iterations will exhaust my memory. The problem seems related to this issue. If I want to contribut

[2021-02-03 07:36] AmbitionXiang commented on #110
Hi, I've finished it. Thanks.

[2021-02-03 07:46] rajasekarv commented on #110
Hello @AmbitionXiang

Hope you are doing well. Thanks for checking it and bringing out the issue. Yeah, due to data duplication in serialization, it can go out of memory very quickly if the data flow branches out a lot. It is a long-pending issue and since I am busy with personal work, I never got time to work on it. 
I plan to resume the work on the project in about a month and I will be managing

[2021-02-13 09:29] amirulmenjeni opened #129 "Compilation error: `error[E0034]: multiple applicable items in scope`"
As per the title, I got an error when trying to build the crate.

`rustc --version`:
[code]

In `src/rdd/rdd.rs:289:43`:

[code]

[2021-02-13 09:42] #129 closed

[2021-02-13 09:42] amirulmenjeni commented on #129
Closed because I was using the wrong `rustc` version.

[2021-03-01 09:50] AmbitionXiang opened #130 "Core dump as the number of rdds grows"
Recently, I found that these pieces of code snippets cause core dump.
[code]
[code]
[code]

I used bt in gdb, and get the following information about the error
[code]

However, this snippet runs successfully.
[code]

It seems that the problem is related to serde_traitobject.  But I don't know why.

[2021-05-10 13:40] rajasekarv commented on #127
Hello, Sorry for a very late reply. I was taking some break from maintaining the public branch of this library for some time. Hence the delay.

240s doesn't seem correct. Can you provide more details? Maybe you are taking initial compilation time also into account?

[2021-07-25 08:07] rajasekarv opened #132 "kubernetes scheduler"

[2021-07-25 08:08] #132 closed, assigned to nobody

[2021-07-25 08:20] rajasekarv opened #133 "SQL interface tracking issue"